<app-eliminar-factura
*ngIf="facturaEliminacionSeleccionada"
[factura]="facturaEliminacionSeleccionada"
(confirmarFacturaEliminacion)="confirmarFacturaEliminacion($event)"
></app-eliminar-factura>
 <div class="abrirModal animacion fadeIn" *ngIf="modalService.modal">
  <div  class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Informacion del Cliente {{cliente.nombre | titlecase}}</h2>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h2 class="fw-bold">Datos Personales</h2>
                  <ul class="list-group py-4">
                    <li class="list-group-item py-2">{{cliente.nombre!}}</li>
                    <li class="list-group-item py-2">{{cliente.email}}</li>
                    <li class="list-group-item py-2">{{cliente.createAt}}</li>
                  </ul>
                </div>

                <div class="col-6">

                  <img [src]="cliente.foto! | imagen " alt="{{cliente.foto}}" class="img-thumbnail rounded" style="width:100px; cursor:pointer;">
                  <form action="" [formGroup]="fotoForm">
                    <input class="form-control mt-2" (change)="seleccionarFoto($event)"  type="file" id="formFile" formControlName="foto" >
                  </form>
                  <div class="mt-2">
                    <button type="button" class="btn btn-primary" [disabled]="fotoSeleccionada == null" (click)="subirFoto()" >Guardar Foto</button>
                    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" (click)="cerrarModal()" >Cancelar</button>

                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <button
                type="button"
                class="btn btn-success btn-sm p-2"
                [routerLink]="['/api/factura-form',cliente.id]"

                >Crear Factura
              </button>
                <div class="alert alert-info my-4" *ngIf="clienteRecibido.facturas?.length == 0"  >
                  No hay facturas asignadas para el cliente {{cliente.nombre}} {{cliente.apellido}}
                </div>

              <h4 class="my-4 text-primary fw-bold" *ngIf="clienteRecibido.facturas?.length! > 0">Facturas de {{cliente.nombre}}</h4>


              <div class="col-12"  *ngIf="clienteRecibido.facturas?.length! > 0" >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Total</th>
                      <th class="text-center" scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let factura of cliente.facturas">

                      <th scope="row">{{factura.id}}</th>
                      <td>{{factura.descripcion}}</td>
                      <td>{{factura.createAt}}</td>
                      <td>asdsa</td>
                      <td class="text-center">
                        <button
                        class="btn btn-primary btn-sm"
                         type="button"
                         [routerLink]="['/api/factura-detalle',factura.id]"
                        >Detalles</button>
                        <button
                        class="btn btn-danger btn-sm ms-2" type="button"
                        (click)="abrirEliminarFactura(factura)"
                        > Eliminar
                      </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            </div>
        </div>

      </div>
    </div>
  </div>


</div>
