
.dashboard__container{
  position: relative;
  width: 100%;
}
.dashboard__principal{
  padding: 22px 0px 0px 13px;
  position: absolute;
width: calc(100% - 320px);
left: 300px;
min-height: 100vh;
background: var(--white);
transition: .5s;


}

.dashboard__principal.active{
  width: calc(100% - 110px);
  left: 99px;

}


@media(max-width:991px){
  .dashboard__propiedades{
      grid-template-columns: repeat(2, 1fr);
  }


  .dashboard__principal{
      width: 100%;
      left: 0;
  }

  .dashboard__principal.active{
      left: 300px;
  }



}




@media(max-width:700px){
  .dashboard__propiedades{
      /* grid-template-columns: repeat(1, 1fr); */
  }
}



@media(max-width:480px){




  .dashboard__principal.active .dashboard__bar{
      color: #fff;
      position: fixed;
      right:12px;
      left: initial;
      /* right: 0; */
  }

  .dashboard__propiedades{
      grid-template-columns: repeat(1, 1fr);
  }


/*
  .dashboard__principal.active{
      color: #fff;
  position: fixed;
  right: 0;
  left: initial;
  } */
}
