<div class="dashboard__container">
<app-sidebar></app-sidebar>


  <div class="dashboard__principal">


    <app-header></app-header>
      <div class="dashboard__propiedades">
          <div class="dashboard__propiedad">
              <div class="dashboard__propiedad--texto">
                      <span class="dashboard__numero">1,504</span>
                      <span class="dashboard__propiedad-subtitle">Daily Views</span>
              </div>
              <div class="dashboard__propiedad--icon">
                <i class="fa-regular fa-eye"></i>
                 <!--  <ion-icon name="eye-outline"></ion-icon>  -->
              </div>
          </div>

          <div class="dashboard__propiedad">
              <div class="dashboard__propiedad--texto">
                      <span class="dashboard__numero">1,504</span>
                      <span class="dashboard__propiedad-subtitle">Daily Views</span>
              </div>
              <div class="dashboard__propiedad--icon">
                <i class="fa-solid fa-cart-shopping"></i>
                  <!-- <ion-icon name="cart-outline"></ion-icon>  -->
              </div>
          </div>


          <div class="dashboard__propiedad">
              <div class="dashboard__propiedad--texto">
                      <span class="dashboard__numero">1,504</span>
                      <span class="dashboard__propiedad-subtitle">Daily Views</span>
              </div>
              <div class="dashboard__propiedad--icon">
                <i class="fa-sharp fa-solid fa-message"></i>
                  <!-- <ion-icon name="chatbubbles-outline"></ion-icon>  -->
              </div>
          </div>


          <div class="dashboard__propiedad">
              <div class="dashboard__propiedad--texto">
                      <span class="dashboard__numero">1,504</span>
                      <span class="dashboard__propiedad-subtitle">Daily Views</span>
              </div>
              <div class="dashboard__propiedad--icon">
                <i class="fa-solid fa-money-check-dollar"></i>
                  <!-- <ion-icon name="cash-outline"></ion-icon>    -->
              </div>
          </div>
      </div>


      <router-outlet></router-outlet>
  </div>


</div>


