@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  font-family: 'Ubuntu',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
    --blue : #2a2185;
    --white : #fff;
    --gray : #f5f5f5;
    --black1 : #222;
    --black2 : #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}








/* MAIN */


/* DASHBOARD PROPIEDADES */

.dashboard__propiedades{
   /*  display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    margin: 50px 0 ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px   ;
   /*  gap: 150px; */
}


.dashboard__propiedad{
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    /* max-width: 280px; */
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    /* background: var(); */
}

.dashboard__propiedad:hover{
    background-color: var(--blue);

}


.dashboard__propiedad:hover .dashboard__numero,
.dashboard__propiedad:hover .dashboard__propiedad-subtitle,
.dashboard__propiedad:hover .dashboard__propiedad--icon /* ion-icon */
{
    color: var(--white)
}

.dashboard__numero{
    color: var(--blue);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

.dashboard__propiedad-subtitle{

    color: var(--black2);
}

.dashboard__propiedad--texto{
    display: flex;
    flex-direction: column;
}



.dashboard__propiedad--icon{
    font-size: 45px;
    color: var(--black2);
}


