<div class="dashboard__navigation">
  <ul>
      <li>
          <a href="#" class="dashboard__logo">
              <div class="dashboard__icon">
                <i class="fa-brands fa-angular"></i>
              </div>
              <span class="title">CarlosDev</span>
          </a>
      </li>

      <li>
          <a href="#">
              <span class="icon">
                 <!--  <ion-icon name="home-outline"></ion-icon> -->
                <i class="fa-solid fa-house"></i>
              </span>
              <span class="title">Dashboard</span>
          </a>
      </li>

 <!--      <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Customers</span>
          </a>
      </li> -->


<!--         <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Messages</span>
          </a>
      </li> -->


      <!-- <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">Help</span>
          </a>
      </li>
-->

     <!--  <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">Settings</span>
          </a>
      </li> -->


    <!--   <li>
          <a href="#">
              <span class="icon">
                  <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Password</span>
          </a>
      </li> -->

      <li>
          <a href="#">
              <span class="icon">
                 <!--  <ion-icon name="log-out-outline"></ion-icon> -->
                 <i class="fa-solid fa-right-from-bracket"></i>
              </span>
              <span class="title">Sign Out</span>
          </a>
      </li>
  </ul>
</div>
