*{
  padding: 0;
  margin: 0;
}

.dashboard__navigation{
  padding: 22px 0px 0px 13px;
  position: relative;
  background: var(--blue);
  position: fixed;
  width: 280px;
  height: 100%;
  border-left: 10px solid var(--blue);
  overflow: hidden;
  transition: 0.5s;

}

.dashboard__navigation.active{
  width: 76px;
}

.dashboard__logo{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  height: 87px;
}



.title{
  font-size: 16px;

}

.dashboard__navigation ul{
  display: flex;
  flex-direction: column;
  gap: 25px;
}



.dashboard__navigation ul li{
  position: relative;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}

/* .dashboard__navigation ul li:hover,
.dashboard__navigation ul li.hovered{
  background-color: var(--white);
}

.dashboard__navigation ul li:hover a,
.dashboard__navigation ul li.hovered a{
  color: var(--blue);
}
*/


/* CURVAS INICIO */
.dashboard__navigation ul li:hover a::before
{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.dashboard__navigation ul li:hover a::after
{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* CURVAS FIN */


.dashboard__navigation ul li:nth-child(1){

  background: none;
  pointer-events: none;
}

.dashboard__navigation ul li:hover{
  background: var(--white);

}

.dashboard__navigation ul li a{
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding: 12px;
}

.dashboard__navigation ul li a:hover{
  color: var(--blue);
}


.dashboard__navigation ul li a i{
  font-size: 25px;
}


@media(max-width:991px){

  .dashboard__navigation{
      left: -300px;
  }
  .dashboard__navigation.active{
      width: 300px;
      left: 0;
  }







}






@media(max-width:480px){
  .dashboard__navigation{
      width: 100%;
      z-index: 1000;
      left:-100%;
   /*    left: -100%;
      z-index: 1000; */
  }

  .dashboard__navigation.active{
      width: 100%;
      /* width: 100%;
      left: 0; */
  }



}
