<div class="abrirModal animacion fadeIn"  *ngIf="modalService.modal">
  <div class="modal" tabindex="-1"   style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">Eliminación de Cliente</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de eliminar el cliente {{cliente.nombre | titlecase}}?</p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-danger" (click)="eliminacionConfirmar(cliente)">Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="cerrarModal()"  data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
