<app-spinner *ngIf="cargando"></app-spinner>
<div class="dashboard__information">
  <div class="dashboard__orders">
      <div class="dashboard__title">
          <h2>Tabla de Clientes</h2>
          <button class="btn btn-success" [routerLink]="['/api/clientes-form']">Crear Cliente</button>
      </div>

      <table class="dashboard__table" *ngIf="clientes.length > 0 && !cargando">
          <thead>
              <tr>
                  <td>Nombre</td>
                  <td>Apellido</td>
                  <td>Email</td>
                  <td>Fecha</td>
                  <td>Region</td>
                  <td>Editar</td>
                  <td>Eliminar</td>
              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
              <td>{{cliente.region?.nombre}}</td>

              <td>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/api/clientes-form',cliente.id]" >Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarCliente(cliente)">Eliminar</button>
              </td>
            </tr>

          </tbody>
      </table>

      <div class="dashboard__no__clientes" *ngIf="clientes.length === 0 && !cargando" >
        <p class="text-danger">No hay clientes para mostrar, pruebe agregando uno</p>
      </div>


      <app-paginador  [paginacion]="paginacion"  *ngIf="clientes.length > 0 && paginacion"></app-paginador>
  </div>

</div>
