
.dashboard__information{

  display: grid;
  grid-template-columns:2fr 1fr;
  gap: 20px;
}

.dashboard__orders{

  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  border-radius: 20px;

}

.dashboard__title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard__title h2{
  color: var(--blue);
}

.dashboard__title span{
  background: var(--blue);
  padding: 8px;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  transition: .4s;
}


.dashboard__title span:hover{

  background: #211a6d;
}

.dashboard__table{
  margin-top: 80px;
  width: 100%;
  border-collapse: collapse;
}


.dashboard__table thead tr{

  font-weight: 900;
}


.dashboard__table  tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: .2s;
  cursor: pointer;
}
.dashboard__table tr:hover{
  background:var(--blue);
  color: var(--white);
}


.dashboard__table tr td{
  padding: 14px;
}


.dashboard__table thead tr{
  pointer-events: none;
}

.dashboard__table  tr:last-child{
  border-bottom: none;
}



.dashboard__customers{
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  border-radius: 20px;
  /* background: red; */
}

.dashboard__customers h2{
  color: var(--blue);
}

.status{
  color: var(--white);
  padding:  6px;
  border-radius: 8px;
}

.delivered{
  background:  #8de02c;
  transition: .3s;
}

.delivered:hover{
  background: #619525;
}

.return{
  background: #f00;
  transition: .3s;
}

.return:hover{
  background: rgb(177, 43, 43);
}


.progress{
  background: #1795ce;
  transition: .3s;
}

.progress:hover{
  background: #175f80;
}

.pending{
  background: #e9b10a;
  transition: .3s;
}

.pending:hover{
  background: #b68e15;
}

.dashboard__customers h2{
  margin-bottom: 30px;
}

.dashboard__customers--contenido{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
}


.dashboard__customers--users{
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: .4s;
  cursor: pointer;
}

.dashboard__customers--users:hover{
  background-color: var(--blue);
  color: var(--white);
}


.dashboard__customers--picture{

}

.dashboard__customers--picture img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}


@media(max-width:991px){


  .dashboard__information{
      width: 99%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
  }

}



