
<div class="dashboard__information">
  <div class="dashboard__orders">
      <div class="dashboard__title">
          <h2>Tabla de Clientes</h2>
          <span>View All</span>
      </div>

      <table class="dashboard__table">
          <thead>
              <tr>
                  <td>Name</td>
                  <td>Price</td>
                  <td>Payment</td>
                  <td>Status</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status delivered">Delivered</span></td>
              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status return">Delivered</span></td>
              </tr>


              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status progress">Delivered</span></td>
              </tr>


              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status return">Delivered</span></td>
              </tr>


              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status pending">Delivered</span></td>
              </tr>


              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status return">Delivered</span></td>
              </tr>



              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td><span class="status progress">Delivered</span></td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="dashboard__customers">
      <h2>Recents Customers</h2>
      <div class="dashboard__customers--contenido">
          <div class="dashboard__customers--users">
              <div class="dashboard__customers--picture">
                 <img src="img/customer02.jpg" alt="">
              </div>
              <div class="dashboard__customers---info">
                 <h3>Carlos</h3>
                 <span>Perú</span>
              </div>
         </div>

         <div class="dashboard__customers--users">
             <div class="dashboard__customers--picture">
                <img src="img/customer02.jpg" alt="">
             </div>
             <div class="dashboard__customers---info">
                <h3>Carlos</h3>
                <span>Perú</span>
             </div>
        </div>

        <div class="dashboard__customers--users">
             <div class="dashboard__customers--picture">
             <img src="img/customer02.jpg" alt="">
             </div>
             <div class="dashboard__customers---info">
             <h3>Carlos</h3>
             <span>Perú</span>
             </div>
         </div>

         <div class="dashboard__customers--users">
             <div class="dashboard__customers--picture">
                <img src="img/customer02.jpg" alt="">
             </div>
             <div class="dashboard__customers---info">
                <h3>Carlos</h3>
                <span>Perú</span>
             </div>
        </div>


        <div class="dashboard__customers--users">
         <div class="dashboard__customers--picture">
            <img src="img/customer02.jpg" alt="">
         </div>
         <div class="dashboard__customers---info">
            <h3>Carlos</h3>
            <span>Perú</span>
         </div>
    </div>
      </div>
  </div>
</div>
