
<div class="card" *ngIf="factura">
  <div class="card-header"> Factura : <span class="fw-bold">{{factura.descripcion}}</span> </div>
  <div class="card-body">
    <h4 class="card-title">
        <a [routerLink]="['/api']" class="btn btn-danger btn-xs">&laquo; volver</a><!-- routerLink="/clientes" -->
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos del cliente</li>
      <li class="list-group-item">{{factura.cliente.nombre}}</li>
      <li class="list-group-item">{{factura.cliente.apellido}}</li>
    </ul>


    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos de la factura</li>
      <li class="list-group-item">N° : {{factura.id}} </li>
      <li class="list-group-item">Descripcion : {{factura.descripcion}}</li>
      <li class="list-group-item">Fecha de emisión : {{factura.createAt}}</li>
    </ul>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of factura.items">

          <th scope="row">{{item.producto?.nombre}}</th>

          <td>{{item.producto?.precio}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.importe}}</td>
        </tr>

      </tbody>
    </table>
    <h5>
     <span>Gran Total</span> : <span class="bagde bagde-secondary" >{{factura.total}}</span>
    </h5>

    <div class="card border-info mb-4">
      <div class="card card-header">
        Observaciones
      </div>
      <div class="card card-body">
        <p *ngIf="!factura.observacion">No tiene observacion</p>
        <p *ngIf="factura.observacion">{{factura.observacion}}</p>
      </div>
    </div>
  </div>
</div>


