<nav class="paginacion" aria-label="Page navigation example">
  <ul class="pagination">

    <li class="page-item" *ngIf="paginacion.number > 0" > <!-- que muestre el boton e atras menos en la primera -->
      <a class="page-link" [routerLink]="['/api/clientes/page',paginacion.number -1]">&laquo;</a>
    </li>


    <li [ngClass]="paginacion.first? 'disabled page-item' : 'page-item'">
      <a class="page-link" [routerLink]="['/api/clientes/page',0]">Primera</a> <!-- que este presente menos en la primera -->
    </li>


    <li class="page-item"  *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginacion.number? 'active': ''" >
      <span class="page-link" *ngIf="pagina-1 == paginacion.number">{{pagina}}</span>
      <a *ngIf="pagina-1 !== paginacion.number" class="page-link" [routerLink]="['/api/clientes/page',pagina-1]">{{pagina}}</a>
    </li>
    <li [ngClass]="paginacion.last? 'disabled page-item' : 'page-item'">
      <a class="page-link" [routerLink]="['/api/clientes/page',paginacion.totalPages-1]">Ultima</a> <!-- que este presente menos en la primera -->
    </li>

    <li class="page-item" *ngIf="paginacion.number < paginacion.totalPages-1" > <!--tneeos que valiar si la pagina actual es menor a la ultima pagina-->
      <a class="page-link" [routerLink]="['/api/clientes/page',paginacion.number +1]">&raquo;</a>
    </li>
  </ul>
</nav>
